.button {
    padding: 0.6rem 0.8rem;
    color: #ffffff;
    background-color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  .button:hover {
    scale: 1.1;
  }